Source: tsumufs
Section: admin
Priority: extra
Maintainer: June Tate-Gans <june.tate@gmail.com>
Build-Depends: python2.4, debhelper (>=5.0.7), cdbs, python-support
Standards-Version: 3.7.2

Package: tsumufs
Architecture: all
Depends: python2.4, python-fuse (>=0.2), python-gnome2-extras, python-gnome2, python-gtk2
Description: NFS caching filesystem
 TsumuFS is a FUSE-based filesystem that provides a disconnected caching
 layer on top of NFS.
 .
 See http://tsumufs.googlecode.com for more information.
